html {
    background: 
    url("https://previews.dropbox.com/p/thumb/AA0qKvSvigr0SycOiDiUVbwkqjuygaaiTRdg7Yqco0xeT6ofeiPL1BS8wWR7mLqb8SYZeTbzFV_sBHsTv1bJAyPdNGjxugAOAFF2YUHAWo9Oj4_FkzkMaHey6hqWNyOVikLfZ9ZubJmab2ve4FOGPpTEnQmS_aR2N4q4NKDneEWmcDp9y5Gd-jFMmjpr2mWWYEJkmbdSP7DeIJ47pbeVscIahcx_9G0Zu3cd-8ZfN69EVNop1lZ3wVC8dJ19dZGIi2MpFWycS0Rv4zGxFisCvTlJFCnYeg-Ko4EOFMb1H2e1DJ7Skpl0rZaFROgIllV63NxX8Ci017JdwGTyZXtByGBlrqOyxFaGFkw6VI6FzdqxJw/p.jpeg?fv_content=true&size_mode=5") no-repeat center fixed;
    background-size: cover;
    }

head {
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    }

    h1 {
    text-align: center;
    margin: auto;
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0);
    padding: 0.5px;
    }

    h2 {
    text-align: center;
    margin: auto;
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0);
    padding: 0.5px;
    }

body {
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    }
