html {
    background: 
    url("https://www.dropbox.com/s/4faylj8pflqtnd6/resumen-fondo-textura-acuarela_1048-2144.jpg?dl=0") no-repeat center fixed;
    background-size: cover;
    }

head {
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    }

    h1 {
    text-align: center;
    margin: auto;
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0);
    padding: 0.5px;
    }

    h2 {
    text-align: center;
    margin: auto;
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0);
    padding: 0.5px;
    }

body {
    background-color: transparent;
    border: 0.1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    }
